<% include ../partials/header %>   

<link rel="stylesheet" href="/assets/css/produktliste.css">

<main>

<div class="grid-container">
       <div class="produktliste1">
              <h6>
                  <i class="fa fa-home" style="color: #00F9B6;"></i>    Forside \ <%= group %> \ <%= subgroup %>
              </h6>
       </div>
       <a href="/orderhistorik"id="order"></a>  
       
       <div class="produktliste2">
        <% include ../partials/sidenav %>  
       </div>
       <div class="produktliste3">
              <select id="sort-by" onchange="sorter('<%= group_id %>','<%= subgroup_id %>')">
                     <option value="low">Pris Lav-Høj</option>
                     <option value="high">Pris Høj-Lav</option>
                     <option value="a-z">Alfabetisk A-Å</option>
                     <option value="z-a">Alfabetisk Å-A</option>
                 </select>
       </div>
       <div class="produktliste4" id="produktliste4">
        <% produkter2.items.subgroup.products.forEach(function(item) {
            %>
                 <div class="grid">
                     <div class="card1">
                         <a href="/produktdetaljer/<%= group %>/<%= subgroup %>/<%= item.id %>"> <img src="<%= item.image_fullpath %>" alt="<%= item.image_filename %>"></a>
                     </div> 
                     <div class="card2">
                         <h3><%= item.name %> </h3>
                         <h5> <%= item.description_short %> <br> <a href="/produktdetaljer/<%= group %>/<%= subgroup %>/<%= item.id %>">Læs mere</a> </h5>
                    </div> 
                     <div class="card3"> 
                         
                            <% if (item.offerprice !== '0.00') { %>
                         <h4><span> Pris: DDK <%= item.offerprice %></span></h4>
                         <% } %>
                         <% if (item.offerprice == '0.00') { %>
                            <h4><span> Pris: DDK <%= item.price %></span></h4>
                            <% } %>
                         <button type="button" onclick="addBasket('<%= item.id %>')">Læg i kurv</button>
                         <h4><%= item.stock %> på lager</h4>
                    </div>
                 </div>
                 <% }); %>
       </div>
</div>

        
</main>

<script src="/assets/js/produktliste.js"></script>

<% include ../partials/footer %>

